<footer class="footer">
  <div class="formline"></div>
  <small>
    <a href="http://railstutorial.org/">Application</a>
    by Das Absurde
  </small>
  <nav>
    <ul> 
	<li><%= link_to "Om Fastlearning Company", "#" %></li>
	<li><%= link_to "Vilkår",                  "#" %></li>
	<li><%= link_to "Kontakt",                 "#" %></li>
    </ul>
  </nav>
</footer>
