Hello
<% content_for :sidebar do %>
  
    <%= link_to new_learning_space_person_path( @Organization, @LearningSpace )  do %>    
    <button class="btn btn-success btn-mini button-margin"><i class="icon-white icon-plus-sign icon-padding"></i>Add people</button> 
    <% end %>
    
    <%= link_to "#" do %>    
      <button class="btn btn-success btn-mini button-margin"><i class="icon-white icon-plus-sign icon-padding"></i>Create learninplan</button> 
      <% end %>
<% end %>
  
