<% content_for :sidebar do %>

<% end %>

<div class="row">
  <div class="span9">  
    <div class="profile">
      <ul>
	<% @learning_space.users.each do |user| %>
	<li>
	  <%= image_tag( user.profile.avatar.url( :medium ), :class => "profile-image")  %>
	  <h5><%= user.name %></h5>
	</li>    
	<% end %>
      </ul>
    </div>

  </div>
  
  <div class="span3">    
    <%= link_to new_learning_space_person_path( @organization, @learning_space )  do %>    
    <button class="btn btn-success btn-mini button-margin"><i class="icon-white icon-plus-sign icon-padding"></i>Add people</button> 
    <% end %>
    <br>
    <%= link_to "#" do %>    
    <button class="btn btn-success btn-mini button-margin"><i class="icon-white icon-plus-sign icon-padding"></i>Start learning!</button> 
    <% end %>
  </div>
</div>

