/* ======= Colors ======= */
$grayMediumLight: #eaeaea;
$grayLight: #eaeaea;


/* ======= Utility ======= */
.inner            { margin: 0 auto; width: 960px; }
.left             { display: inline; float: left; }
.right            { display: inline; float: right; }
.center           { text-align: center; }
img.left          { margin: 0px 25px 20px 0px; }
img.right         { margin: 0px 0px 20px 25px; }
.clear            { clear: both; font-size: 0; height: 0; line-height: 0; }
.clearfixafter    { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
* html .clearfix  { height: 1%; }
.clearfix         { overflow: hidden; display: inline-block; }
.glyph            { margin-bottom: 10px; }
.dglyph           { margin-right: 10px; }
.content          { margin-top: 30px; } 
.content-classroom          { margin-top: 75px; } 
.avatar           { margin-top: 8px; margin-left:5px; }
.pad-button       { padding: 25px; }
.for-flash {height:100px}
/* #user_avatar      { color: #fff; margin-top: 60px; margin-left:5px; } */
.btn {	       
    margin-bottom: 5px;
    a {
      text-decoration: none;
	&:hover { 
	text-decoration: none;
	}
    }  
}
.support {
    
    left: 0;
    position: fixed;
    top: 100px;
    z-index: 99999;
    a {
	color: $grayLight;
	background: #000;	
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	color: #B0AEC8;
	display: block;
	font-weight: bold;
	height: 40px;
	line-height: 42px;
	margin-left: -27px;
	padding: 0 12px;
	
	&:hover { 
	    color: #FFF;
	    text-decoration: none;
	}
    }  
}


