Velkommen til <%= @Organization.name %><br>
<div class="row">
  <div class="span10">  
    <% @LearningSpaces.each do |learning_space| %>
    <%= link_to learning_space.name, learning_space_path( @Organization, learning_space ) %><br>
    <% end %>
  </div>

  <div class="span2">    
    <%= link_to new_organization_person_path( @Organization )  do %>    
    <button class="btn btn-success btn-mini"><i class="icon-white icon-plus-sign icon-padding"></i>Add people</button> 
    <% end %>

     <%= link_to new_learning_space_path( @Organization )  do %>    
    <button class="btn btn-success btn-mini"><i class="icon-white icon-plus-sign icon-padding"></i>Create learningspace</button> 
    <% end %>

  </div>
</div>
