
<p>Velkommen <%= @resource.email %>!</p>

<p>Du bedes bekræfte din konto ved at trykke på linket herunder:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
