

<div class="row">
  <div class="span9">  
    ADMIN<br>
    Velkommen til <%= @organization.name %><br>
  </div>


  

  <div class="span3">    
    <%= link_to new_organization_person_path( @organization )  do %>    
    <button class="btn btn-success btn-mini button-margin"><i class="icon-white icon-plus-sign icon-padding"></i>Add people</button> 
    <% end %>
    <br>

    

  </div>
</div>
